@import "./variables.scss";

@mixin calendar-margin($calendar-margin, $hidden-sections-margin) {
  margin-top: $day-height + $calendar-margin;
  margin-right: $calendar-margin;
  margin-bottom: $calendar-margin;
  margin-left: $time-width + $calendar-margin;
}

.Calendar {
  @include calendar-margin(24px, 16px);
  position: relative;
  border-bottom: 1px solid $color-border;
  border-right: 1px solid $color-border;
  height: 80rem;

  &.preview {
    margin: 0;
    height: auto;
    border: none;
  }

  .times {
    position: absolute;
    top: -0.5rem;
    bottom: 0;
    left: -$time-width;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 80rem;

    .time {
      position: relative;
      flex: 1;
      align-items: flex-end;

      .label {
        display: block;
        width: $time-width;
        padding-right: 8px;
        font-size: 0.8em;
        font-weight: bold;
        text-align: right;
      }

      &:after {
        content: "";
        position: absolute;
        left: $time-width;
        right: 0;
        top: 0.5rem;
        height: 1px;
        background-color: $color-border;
      }
    }
  }

  .days {
    position: absolute;
    left: 0;
    right: 0;
    top: -$day-height;
    bottom: 0;
    display: flex;

    .day {
      position: relative;
      flex: 1;
      display: flex;
      flex-direction: column;
      box-sizing: inherit;

      .label {
        height: $day-height;
        font-size: 1em;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        justify-content: center;
        padding-bottom: 8px;
        color: var(--theme-fg);
      }

      &:after {
        content: "";
        position: absolute;
        top: $day-height;
        bottom: 0;
        width: 1px;
        background-color: $color-border;
      }
    }
  }
}

.mobile .Calendar:not(.capture) {
  @include calendar-margin(0, 0);
}
