$time-width: 48px;
$day-height: 48px;
$time-height: 81px;

$color-neutral: #808080;
$color-border: rgba($color-neutral, 0.2);

@mixin light($property: null, $value: null) {
  @if $property == null {
    body.light & {
      @content;
    }
  } @else {
    body.light & {
      #{$property}: $value;
    }
  }
}

@mixin dark($property: null, $value: null) {
  @if $property == null {
    body.dark & {
      @content;
    }
  } @else {
    body.dark & {
      #{$property}: $value;
    }
  }
}